*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor-um:#042940;
    --cor-dois: #005C53;
    --cor-tres: #D6D58E;
    --cor-quatro: #9FC131;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D6D58E;
}
header{
    background-color: var(--cor-um);
    display: flex;
}
.logo-rodape{
    margin: 18px;
    padding-left: 2%;
}
.listaHeader{
    display: inline-flex;
    color: white;
    list-style: none;
    margin-top: 45px;
    padding-left: 53%;
}
.elementosLista{
    padding-right: 3em;

}
.botaoUm{
    border-radius: 5px;
    background-color: #005C53;
    padding: 1em;
    margin: 30px 0em;
    color: white;
    text-decoration: none;

}